body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

text {
  color: brown;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}
.extra-container {
  display: flex;
  align-items: center;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ------header---------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-studio {
  color: #2e2f42;
}

.hover-button:hover,
.hover-button:focus,
.header-menu-options:hover,
.header-menu-options:focus,
.header-menu-options:current {
  color: #404bbf;
}
.header-menu-options {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  align-items: center;
  gap: 40px;
  margin-right: 0;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-options.current {
  position: relative;
  color: #404bbf;
}
.header-menu-options.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.trea-options-menu {
  display: flex;
}
.address-class {
  font-style: normal;
  margin-left: auto;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.wrap-one {
  display: flex;
  gap: 40px;
}
.contact-details {
  font-family: rototo;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-details:first-child:focus {
  color: #404bbf;
}
.contact-details:first-child:hover {
  color: #404bbf;
}
.header {
  /* padding-top: 24px;
  padding-bottom: 24px; */
}
/* -------- section 1 -----------*/
.order-message {
  /* max-width: 1440; */
  padding-top: 72px;
  /* padding-top: 188px; */
  padding-bottom: 72px;
  /* padding-bottom: 188px; */
  max-width: 320;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/at-the-office-xs.jpg);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;
}

.picture-people-office {
  background-color: linear-gradient(rgba(#2e2f42), rgba(#2e2f42));
  /* max-width: 1440px; */
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  background-color: #4d5ae5;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-solution {
  font-family: roboto;
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  /* max-width: 496px; */
  max-width: 216px;
  color: #ffffff;
  align-self: center;
  display: flex;
  justify-content: center;
  display: block;
  /* margin-right: auto; */
  margin-left: auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
  /* display: flex; */
}

.hover-button .button {
  cursor: pointer;
  background-color: #4d5ae5;
}
.hover-button:hover .button {
  background-color: #404bbf;
  border-radius: 10%;
}
.hover-button:focus .button {
  background-color: #404bbf;
  border-radius: 10%;
}
/* ------- section 2 -------- */

.container {
  /* width: 1158px; */
  min-width: 320px;
  /* padding: 0 15px; */
  padding: 0 16px;
  margin: 0 auto;
}
.li-for-first-element {
  /* width: calc((100% - 72px) / 4); */
  justify-content: space-evenly;
  margin-bottom: 72px;
}
.wrap > :last-child {
  margin-bottom: 0;
}
.section-first-header {
  font-family: roboto;
  /* font-weight: 500; */
  font-weight: 700;
  font-size: 36px;
  /* font-size: 20px; */
  line-height: 111%;
  /* line-height: 120%; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.section-fist-description {
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  /* max-width: 288px; */
  margin: 0px;
  /* padding-left: 16px; */

  display: flex;
  align-items: center;
  justify-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrap {
  gap: 24px;
  flex-wrap: wrap;
}
.section-futures {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  margin-bottom: 96px;
}
.box-for-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.icon-antena-first {
  display: flex;
  padding-top: 100px;
  padding-right: 24px;
  padding-bottom: 100px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .box-for-icons {
    display: none;
  }
  .icon-antena-first {
    display: none;
  }
}
/* -------setion 3  ------- */
.container {
  /* padding: 0 15px; */
  margin: 0 auto;
  /* padding: 32px 16px; */
  border-top: none;
  /* width: 1158px; */
  /* padding: 0 16px; */
  padding: 0 28px;
  margin: 0 auto;
  justify-content: center;
}
.wrap-three > .ul-list {
  background-color: #e7e9fc;
  flex-wrap: wrap;
}
.our-team {
  margin-top: 120px;
  margin-bottom: 72px;
  padding-top: 120px;
  padding-bottom: 120px;
  /* width: calc((100% - 72px) / 4); */
}
.section-three {
  /* justify-content: space-evenly; */
  justify-content: center;
  /* padding: 120px 0; */
  padding-top: 96px;
  padding-bottom: 48px;
  /* background-color: #f4f4fd; */
  background-color: #e7e9fc;
  min-width: 320;
  justify-content: center;
}
.our-team-section {
  justify-content: center;
  background-color: #fff;
  max-width: 264px;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}
.emplyee {
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-second-header {
  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  /* background-color: #f4f4fd; */
  background-color: #e7e9fc;
  margin-bottom: 72px;
}
.card-content-name {
  font-family: roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 8px;
}
.card-content-profesion {
  font-family: roboto;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  gap: 24px;
  justify-content: center;
  padding-bottom: 8px;
}
.ul-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.li-social-media {
  width: 40px;
  height: 40px;
}

.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-social-media {
  fill: #f4f4fd;
}
.card-content-profesion-three {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 24px;
  justify-content: center;
  transform: translateY(0%);
  padding-bottom: 8px;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* --------section 4--------- */
.section-four-container {
  /* padding-top: 120px; */
  /* padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.container {
  /* padding: 0 15px; */
  margin: 0 auto;
  /* padding: 32px 16px; */
  border-top: none;
  /* width: 1158px; */
  margin: 0 auto;
}
.portfolio-wrap {
  border: 1px solid #e7e9fc;
  /* padding: 32px 16p; */
  padding: 48px 16px;
  align-items: left;
}
/* .list-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
} */
.list-our-portfolio:hover {
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
}
.new-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-color-wrapper {
  position: relative;
}
.new-text:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-wrap {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.li-our-portfolio {
  background-color: #fff;
  /* width: calc((100% - 48px) / 3); */
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  margin-bottom: 48px;
}
.li-our-portfolio:hover .new-text {
  transform: translateY(0);
}
.li-our-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.thumba {
  position: relative;
  overflow: hidden;
}
.double-items-wrap {
  position: relative;
  overflow: hidden;
}
.section-four-mokeup-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.card-content-profesion {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 24px;
  /* align-items: left; */
  justify-content: start;
  transform: translateY(0%);
}

/* ---------footeR------------ */
.footer-section {
  font-family: raleway;
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding: 96px 0;
  padding-bottom: 152px;
}
.footer-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-descripton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.social-media-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-for-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* margin-bottom: 16px; */
  margin-bottom: 72px;
}
.container-one {
  /* margin-right: 120px; */

  margin-bottom: 72px;
  max-width: 320px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.container-two {
  /* display: flex;
  align-items: baseline; */
}
.ul-list-footer {
  /* display: flex; */
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.li-social-media-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.icon-social-media-footer {
  fill: #f4f4fd;
}
.footer-subscribe-container {
  /* width: 453px; */
  max-width: 288px;
  height: 80px;
  /* margin-bottom: 16px; */
  /* margin-left: 80px; */
}
.paragraph-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  margin-left: 98px;
}
.footer-email-box {
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.subscribe-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;

  margin-bottom: 96px;
  margin: 0 auto;
  margin-top: 16px;
}
.email-form {
  /* display: flex;
  gap: 24px; */
}
.for-email {
  /* gap: 24px; */
}
.footer-button-svg {
  margin-left: 16px;
  background-color: #4d5ae5;
}
/* -------new page menu-------  */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  border-radius: 50%;
  stroke-width: 1px;
  stroke: #2e2f42;
  fill: #e7e9fc;
  width: 24px;
  height: 24px;
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover > .svg-class,
.modal-button:focus > .svg-class {
  fill: #ffffff;
}
.svg-class {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.message {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 72px;
  margin-bottom: 16px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 38px;
  border-radius: 4px;
  margin-bottom: 8px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus {
  fill: #4d5ae5;
}
.input-button {
  background-color: #e7e9fc;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-button:hover,
.input-button:focus {
  border-color: #4d5ae5;
  background-color: #404bbf;
  border: none;
}
.lable-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
}
.input-container {
  position: relative;
  margin-bottom: 8px;
}
.input-container-for {
  margin-bottom: 16px;
}
.taxtarea-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.svg-pic {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4d5ae5;
}

.svg-class > mudal- .label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  width: 100%;
}
.inblock {
  position: relative;
}
.drop-down {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.address-class {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 360px;
  margin-bottom: 16px;
}
.span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input:chacked + .lable > .span {
  background-color: #fff;
  border: none;
  fill: #3f51b5;
}

.textarea-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  border-color: #4d5ae5;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.textarea-label:focus {
  border-color: #4d5ae5;
}
.label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden {
  outline: 2px solid #4d5ae5;
  outline-offset: 2px;
}

.checkbox-div {
  margin-bottom: 24px;
}
.checkbox-icon {
  color: #4d5ae5;
}
.privacy-button {
  color: #4d5ae5;
}
.visually-hidden:checked + .drop-down span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* -------------media----------------- */
@media screen and (max-width: 1150px) {
  .box-for-icons {
    display: none;
  }
  .icon-antena-first {
    display: none;
  }
}
@media screen and (min-resolution: 2dppx) {
}

@media screen and (min-width: 768px) {
  .picture-people-office {
    min-width: 768px;
  }
  .order-message {
    max-width: 768;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-ipad.jpg);
  }
  .text-solution {
    max-width: 496px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    margin-right: auto;
  }
  .container-small {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }
  .order-message {
    min-width: 768px;
    padding-bottom: 112px;
  }
  /* section 2 */

  .section-futures {
    margin: 0 auto;
  }

  .order-message {
    min-width: 768px;
    padding-bottom: 112px;
  }
  .li-for-first-element {
    max-width: 736px;
  }
  .wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 768px;
    margin: 0 auto;
  }
  .section-fist-description {
    max-width: 356px;
  }
  /* section 3 */

  .our-team-section {
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
  .wrap-three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  /* section 4 */
  .section-four-container {
    padding-top: 96px;
    padding-bottom: 96px;
    flex-direction: row;
    padding-bottom: 0px;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
  }
  .list-our-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 72px;
    gap: 24px;
  }
  .double-items-wrap {
    max-width: 736;
  }
  .portfolio-img {
    width: 356px;
  }
  .portfolio-wrap {
    width: 356px;
  }
  .card-content-profesion {
    align-items: left;
  }

  /* section footer  */
  .footer-section {
    padding: 0px;
    margin: 0 auto;
    padding-top: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-one {
    margin-bottom: 72px;
  }

  .footer-web {
    justify-content: left;
  }
  .container-for-icons {
    margin-bottom: 0px;
  }
  .social-media-footer {
    justify-content: left;
  }
  .footer-subscribe-container {
    justify-content: left;
    min-width: 500px;
    margin-bottom: 96px;
  }
  .paragraph-subscribe {
    justify-content: left;
    margin-left: 0px;
  }
  .subscribe-button {
    margin-top: 0px;
    margin-left: 24px;
  }
  .footer-descripton {
    margin-bottom: 0px;
  }
  .email-form {
    flex-flow: row;
    display: flex;
  }
  .add {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
  }
}
/* -------screen 1158--------- */

@media screen and (min-width: 1158px) {
  .order-message {
    min-width: 1158;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    margin-bottom: 0px;
  }
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    padding: 32px 16px;
  }
  /* header */
  .header-container {
    width: 1128px;
  }
  /* section 1 */
  .picture-people-office {
    max-width: 1440px;
  }
  .text-solution {
    max-width: 496px;
    margin-bottom: 48px;
    display: flex;
  }
  .order-message {
    max-width: 1440;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  /* section 2 */
  .li-for-first-element {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0px;
  }
  .section-first-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    max-width: 1128;
    justify-content: left;
  }
  .section-fist-description {
    max-width: 288px;
    padding-left: 16px;
  }
  .wrap {
    width: 1128px;
    gap: 24px;
  }
  .section-futures {
    padding-top: 120px;
    padding-bottom: 0 px;

    margin: 0 auto;
  }
  /* section 3 */

  .our-team {
    width: calc((100% - 72px) / 4);
  }
  .wrap-three {
    width: 1128px;
    display: flex;
    margin: 0 auto;
  }
  .section-three {
    width: auto;
    justify-content: space-evenly;
    background-color: #f4f4fd;
  }
  .section-futures {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-section {
    width: calc((100% - 72px) / 4);
    width: 264px;
  }
  .section-second-header {
    background-color: #f4f4fd;
  }
  .emplyee {
    width: 264px;
  }
  .ul-list {
    width: 264px;
  }
  /* section 4 */

  .wrap-three {
    margin: 0 auto;
  }

  .section-four-container {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .our-team {
    margin-top: 120px;
    margin-bottom: 72px;
    padding-top: 120px;
    padding-bottom: 120px;
    width: calc((100% - 72px) / 4);
  }
  .our-portfolio {
    margin-bottom: 0 auto;
  }
  .list-our-portfolio {
    gap: 48px 24px;
    width: 1128px;
    padding-bottom: 0px;
  }
  .portfolio-wrap {
    border: 1px solid #e7e9fc;
    padding: 32px 16p;
  }
  .li-our-portfolio {
    width: calc((100% - 48px) / 3);
  }

  /* ---------footeR------------ */
  .footer-section {
    flex: unset;
  }
  .paragraph-subscribe {
    width: 264px;
  }
  .footer-subscribe-container {
    width: 553px;
  }
  .footer-web {
    display: inline-flex;
  }

  .container-one {
    margin-right: 120px;
    margin-left: 156px;
  }
  .container-two {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
  }
  .container-for-icons {
    margin-bottom: 16px;
  }
  .ul-list-footer {
    display: flex;
  }
  .footer-subscribe-container {
    width: 453px;
    margin-left: 80px;
  }
  .email-form {
    display: flex;
    width: 453px;
  }
  .for-email {
    gap: 24px;
  }
}
